$markdown-editor-min-width: 980px;
$alluvial-icon-standard-width: 218px;
$alluvial-icon-padding: 10px;
$lr-min-width: calc(
  $markdown-editor-min-width + $alluvial-icon-standard-width +
    $alluvial-icon-padding * 2
);

.view-homepage {
  > div:first-child {
    height: 0;
  }

  button {
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (min-width: $lr-min-width) {
  .view-homepage {
    display: flex;
    height: 100%;
  }

  .view-homepage > div:first-child {
    aspect-ratio: 1/1;
    padding: $alluvial-icon-padding;
    width: $alluvial-icon-standard-width;
    height: auto;
  }
}

.html-list {
  padding-top: 10px;
  pre {
    margin: 0;
  }
}
