.defaultDirPage {
  .milkdown {
    padding-top: 15;
    padding-left: 0;
    padding-right: 0;

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      font-family: monospace;
    }
  }
}
